<div class="app-topstrip bg-dark text-white p-y-16 p-x-24 w-100 d-flex align-items-center justify-content-between">
    <div class="d-none d-sm-flex align-items-center justify-content-center gap-20">
        <a class="d-flex align-items-center" href="https://www.wrappixel.com/" target="_blank">
            <img src="/assets/images/logos/logo-wrappixel.svg" alt="" width="147">
        </a>

        <div class="linkbar d-none d-lg-flex align-items-center justify-content-center gap-16">
        </div>
    </div>

    <div class="topstrip-right d-flex align-items-center justify-content-center gap-16">
        <h6 class="text-linear-gradient f-s-14 text-uppercase text-lg-left text-center">Checkout Pro Version</h6>

        <div class="topstrip-right-inner d-flex justify-content-center align-items-center gap-10">

            <div class="d-flex justify-content-center align-items-center gap-10">
                <mat-menu class="p-x-16 p-y-8 rounded-7" #beforeMenu="matMenu" xPosition="before">
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/materialpro-angular-dashboard/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/angular-cat-icon.svg" width="18" alt="angular">
                            Angular Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/materialpro-vuetify-admin/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/vue-cat-icon.svg" width="18" alt="vueJs">
                            VueJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/materialpro-nextjs-admin-dashboard-app-directory/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/next-cat-icon.svg" width="18" alt="nextJs">
                            NextJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/materialpro-nuxtjs/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/nuxt-cat-icon.svg" width="18" alt="nuxtJs">
                            NuxtJs Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/materialpro-react-admin/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/react-cat-icon.svg" width="18" alt="react">
                            React Version
                        </div>
                    </a>
                    <a mat-menu-item class="rounded-7"
                        href="https://www.wrappixel.com/templates/materialpro/?ref=376#demos"
                        target="_blank">
                        <div class="d-flex align-items-center gap-12 f-s-16">
                            <img src="/assets/images/svgs/bt-cat-icon.svg" width="20" alt="bootstrap">
                            Bootstrap Version
                        </div>
                    </a>
                </mat-menu>

                <!-- Get Pro -->
                <a mat-button class="get-pro-btn text-white p-x-16"
                    href="https://www.wrappixel.com/templates/materialpro-angular-dashboard/?ref=376" target="_blank">
                    <div class="d-flex align-items-center gap-8 f-s-16 f-w-400">
                        <i class="iconify icon-18 d-flex" data-icon="solar:crown-linear"></i>
                        Get Pro
                    </div>
                </a>
            </div>         
        </div>
    </div>
</div>